<div class="container-fluid">
  <div class="row">
    <!-- Navbar component -->
    <div class="col-sm-auto">
      <app-navbar></app-navbar>
    </div>

    <!-- Dashboard content and vertical bar chart -->
    <div class="col-sm">
      <div class="card p-3 min-vh-100">
        <div style="text-align: center;">
          <!-- Vertical Bar Chart -->
          <div class="row ml-4">
            <div class="col-sm-6">
              <div class="row" align="center">
                <h4>Vertical Bar Chart</h4>
              </div>
              <div class="row" align="center">
                <ngx-charts-bar-vertical
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="single"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row" align="center">
                <h4>Vertical Bar Chart Normalized</h4>
              </div>
              <div class="row" align="center">
                <ngx-charts-bar-vertical-normalized
                  [view]="view"
                  [scheme]="colorScheme"
                  [results]="multi"
                  [gradient]="gradient"
                  [xAxis]="showXAxis"
                  [yAxis]="showYAxis"
                  [legend]="showLegend"
                  [showXAxisLabel]="showXAxisLabel"
                  [showYAxisLabel]="showYAxisLabel"
                  [xAxisLabel]="xAxisLabel"
                  [yAxisLabel]="yAxisLabel">
                </ngx-charts-bar-vertical-normalized>
              </div>
            </div>
          </div>

          <!-- Stacked Vertical Bar Chart -->
          <div class="row ml-5 mt-3" align="center">
            <h4>Stacked Vertical Bar Chart</h4>
          </div>
          <div class="row ml-5" align="center">
            <div class="col-sm-12">
              <ngx-charts-bar-vertical-stacked
                [view]="view"
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
              </ngx-charts-bar-vertical-stacked>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
