<div class="container-fluid">
  <div class="row">
    <!-- Vertical Navbar -->
    <div class="col-sm-auto bg-light sticky-top min-vh-100">
      <div class="d-flex flex-column flex-sm-row flex-nowrap bg-light align-items-center">
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
          <li>
            <a routerLink="/dashboard" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" routerLink="/dashboard" data-bs-original-title="Home">
              <i class="bi-house fs-3"></i>
            </a>
          </li>
          <li *ngIf="roles!=null && roles.includes('ETUDIANT')">
              <a routerLink="/offres-stage" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard" >
                <i class="bi bi-box-arrow-in-right fs-3"></i>
              </a>
          </li>
          <li *ngIf="roles!=null && roles.includes('ENCADRANT')">
              <a routerLink="/stages" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders" data-bs-original-title="addMark">
                <i class="bi bi-card-list fs-3"></i>
              </a>
          </li>
        <li *ngIf="roles!=null && roles.includes('ENCADRANT')">
          <a routerLink="/session" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-calendar-date fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('ADMIN')">
          <a routerLink="/chart" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-clipboard2-data-fill fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('ETUDIANT')">
          <a routerLink="/projets" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-person-workspace fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('ETUDIANT')">
          <a routerLink="/forum" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-plus-circle-fill fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('ADMIN')">
          <a routerLink="/offre-de-stage" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-list-ul fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('ADMIN')">
          <a routerLink="/validate-offre" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-check-square-fill fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('CHEF_FIL')">
          <a routerLink="/affectation" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-arrow-left-right fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('ETUDIANT')">
          <a routerLink="/docs" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-file-text-fill fs-3"></i>
          </a>
        </li>
        <li *ngIf="roles!=null && roles.includes('ETUDIANT')">
          <a routerLink="/stage" class="nav-link py-3 px-3 bg-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
            <i class="bi-plus-square-fill fs-3"></i>
          </a>
        </li>

          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle bg-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi-people fs-3"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" (click)="handleLogout()">Log out</a>
              <a class="dropdown-item" href="#" (click)="handleProfile()">Profile</a>
            </div>
          </li>
      </ul>
  </div>
</div>
  </div>
</div>
